{{define "layout"}}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>EZ-CERT</title>
  <link rel="icon" href="/static/favicon.ico">
  <link rel="shortcut icon" href="/static/favicon.ico">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  {{template "styles" .}}
</head>
<body>
  <div class="page">
    <div class="app-bar">
      <div class="app-bar-left">
        <a href="/" class="app-title">
          <img src="/static/logo.png" alt="EZ-CERT">
        </a>
      </div>

      <div class="app-bar-right">
        <a class="button button-secondary" href="/audit">Audit Log</a>
        <a class="button button-secondary" href="/password/change">Change Password</a>
        <a class="button" href="/generate">Generate Certificate</a>
        <form style="margin:0;" method="post" action="/logout">
          <button class="button button-secondary" type="submit">Sign Out</button>
        </form>
      </div>
    </div>

    {{template "content" .}}
  </div>
</body>
</html>
{{end}}